<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<body>

		<div class="nav-centered justify-content-around shadow mb-5 bg-dark d-flex justify-content-around w-100" >

			<nav th:fragment="navbar(current)" class="navbar navbar-expand-lg navbar-dark bg-dark ">

				<div class="nav-wrapper container-fluid ">

					<a class="navbar-brand fst-italic" href="/"><i class="fa-solid fa-utensils"></i> Ricette Casarecce</a>

				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

				    	<span class="navbar-toggler-icon"></span>

				    </button>

				    <div class="collapse navbar-collapse" id="navbarNavDropdown">

						<ul class="navbar-nav">

					        <li class="nav-item">

					          <a class="nav-link fst-italic" th:classAppend="${current == 'homePage'} ? active : not-active" href="/">Home</a>

					        </li>
					        
					        <li>
					        
					        	<!--form per tasto search-->					    
				  				<a class="nav-link fst-italic" th:classAppend="${current == 'search'} ? active : not-active" href="/advancedSearch">Ricerca <i class="fa-solid fa-magnifying-glass"></i></a>
					        
					        </li>
						</ul>
				    </div>
						<div class="text-end" id="navbarNavDropdown">
						 
						<ul class="navbar-nav">
					        <li class="nav-item">
	
						        	<a class="nav-link fst-italic" href="/login">Accedi</a>
	
						   </li>	
						   				    
						   <li class="nav-item">
	
						        	<a class="nav-link fst-italic" aria-current="page" href="/logout">Logout</a>
	
						   </li>
						   
						   <li class="nav-item">
						   
						   		<a sec:authorize="hasAuthority('ADMIN')" class="nav-link text-decoration-none fst-italic" th:classAppend="${current == 'admin'} ? active : not-active" href="/admin">Area amministrazione</a>

						   
						   </li>
					        
						</ul>
						</div>
					     
					   </div>	  
				  		
					</nav>
					
				</div>


	</body>

</html>  