<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/resources :: head-resourcesd"></th:block>
    <title>Resource not found</title> 
  </head>
  
  <body>
  
  	<header>
	 		 	
	 		<nav th:replace="fragments/navbar :: navbar('recipes')"></nav>
		 	
	</header>
	
  <div class="container">
  	<div class="alert alert-info my-5 col-6 mx-auto text-center">
  		<h1>Resource not found</h1>
  		<div th:text="|${status} ${error} ${message}|"></div>
  	</div>
  </div>
  <th:bock th:replace="fragments/resources :: JS-resources"></th:bock>
  </body>
</html>