<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
  
		<th:block th:replace="fragments/resources :: head-resources"></th>
	    
	    <title>Pagina admin</title>
    
  	</head>
  	
  	<body class="bg-dark text-warning">
  	
		<header>
	 		 	
	 		<nav th:replace="fragments/navbar :: navbar('recipes')"></nav>
		 	
	 	</header>
		<main> 
	 	
  			<div class="container w-75 pt-2 text-worning">

  			
				<h1>Pagina amministratore</h1>
	  			<hr>
				
				<div class="w-75 pt-2">
                	<a th:href="@{/add}"  role="button" class="btn btn-dark me-3 rounded-3 text-warning border border-warning fw-bold">Aggiungi una ricetta</a>
                
                	<a th:href="@{/ingredients}"  role="button" class="btn btn-dark me-3 rounded-3 text-warning border-warning fw-bold">Aggiungi un ingrediente</a>
                
                	<a th:href="@{/category}"  role="button" class="btn btn-dark me-3 rounded-3 text-warning border-warning fw-bold">Aggiungi una categoria</a>
                </div>
                
				<hr>         		         		
	      		<h2 class="text-warning">Le nostre ricette</h2>
	      		<hr>
	      		<div th:if="${#lists.isEmpty(ListSub)}">
         		
	        		<h5>Spiacenti, non è disponibile una lista di ricette</h5>
	        		
	      		</div>
				<div th:unless="${#lists.isEmpty(ListSub)}" style="color: aliceblue;">
      
					<table class="table mb-5 text-white" style="color: black;">
			        
						<thead>
			        	
							<tr>
			            	
			                	<th class="text-warning">Nome</th>
					        	<th class="text-warning">Tempo di preparazione</th>
					        	<th class="text-warning">Difficoltà</th>
					        	<th class="text-warning">Commenti</th>
					            <th class="text-warning">Views</th>
					            <th class="text-warning">Data di pubblicazione</th>
					            <th class="text-warning">Categoria</th>
					            <th class="text-warning">Action</th>
					              
			           		</tr>
			           		
			          	</thead>
			
			
			          	<tbody>
			          	
			            	<tr th:each="t : ${ListSub}">
			            	
			              		<td>
			              			<a class="text-warning" th:href="@{|/recipeDetails/${t.id}|}" th:text="${t.title}" ></a>
			              		</td>
					            <td th:text="${t.preparationTime}"></td>
					            <td th:if="${t.difficulty} == 1">Facile</td>
					            <td th:if="${t.difficulty} == 2">Medio</td>
					            <td th:if="${t.difficulty} == 3">Difficile</td>
					            <td th:text="${t.comments.size()}"></td>
					            <td th:text="${t.counterViews}"></td>
					            <td th:text="${t.publicationDate}"></td>
					            <td th:text="${t.category.name}"></td>
			           			<td>			
									<a class="btn btn-warning" th:href="@{|/edit/${t.id}|}" title="Edit">
						  				<i class="fa-solid fa-pen-to-square"></i>
						  			</a>						  				
						  			<a class="btn btn-warning" th:href="@{|/image/${t.id}|}" title="Edit">
						  				<i class="fa-solid fa-images"></i>
						  			</a>
						  			<a class="btn btn-warning" th:href="@{|/delete/${t.id}|}" title="Delete" onclick="confirm('Are your sure?')">
						  				<i class="fa-solid fa-trash-can"></i>
						  			</a>
						  		</td>
			
			            	</tr>
			            	
			           </tbody>
			        	
					</table>
					
				</div>
   				<hr>
    			<h3>Lista di ricette degli ultimi 7 giorni</h3>
    			<hr>
    
			    <div th:if="${#lists.isEmpty(List7gg)}">
			    
					<h5>Spiacenti, non è disponibile una lista di ricette</h5>
					
				</div>
				
      			<div th:unless="${#lists.isEmpty(List7gg)}" style="color: aliceblue;">
      
					<table class="table mb-5 text-white" style="color: black;">
						<thead>
						
							<tr>
							
		                    	<th class="text-warning">Nome</thclass="text-warning">
				            	<th class="text-warning">Tempo di preparazione</thclass="text-warning">
				            	<th class="text-warning">Difficoltà</th>
				                <th class="text-warning">Commenti</th>
				                <th class="text-warning">Views</th>
				                <th class="text-warning">Data di pubblicazione</th>
				                <th class="text-warning">Categoria</th>
				                <th class="text-warning">Action</th>
				                
            				</tr>
            				
          			    </thead>

				        <tbody>
				        
				        	<tr th:each="t : ${List7gg}">
				        	
				            	<td>
				            		<a class="text-warning" th:href="@{|/recipeDetails/${t.id}|}" th:text="${t.title}" ></a>
				            	</td>
				                <td th:text="${t.preparationTime}"></td>
				                <td th:if="${t.difficulty} == 1">Facile</td>
				                <td th:if="${t.difficulty} == 2">Medio</td>
				                <td th:if="${t.difficulty} == 3">Difficile</td>
				                <td th:text="${t.comments.size()}"></td>
				                <td th:text="${t.counterViews}"></td>
				                <td th:text="${t.publicationDate}"></td>
				                <td th:text="${t.category.name}"></td>
					            <td>
									<a class="btn btn-warning" th:href="@{|/edit/${t.id}|}" title="Edit">
	  									<i class="fa-solid fa-pen-to-square"></i>
	  								</a>
	  								<a class="btn btn-warning" th:href="@{|/image/${t.id}|}" title="Edit">
	  									<i class="fa-solid fa-images"></i>
	  								</a>
	  								<a class="btn btn-warning" th:href="@{|/delete/${t.id}|}" title="Delete" onclick="confirm('Are your sure?')">
						  				<i class="fa-solid fa-trash-can"></i>
						  			</a>
	  							</td>
	  							
							</tr>
							
						</tbody>
						
					</table>
					
      			</div>
      			
      			<hr>
      			<h3>Lista delle ricette più visualizzate</h3>
    			<hr>
			    <div th:if="${#lists.isEmpty(ListMostViewed)}">
			    
					<h5>Spiacenti, non è disponibile una lista di ricette</h5>
					
				</div>
				
      			<div th:unless="${#lists.isEmpty(ListMostViewed)}" style="color: aliceblue;">
      
					<table class="table mb-5 text-white" style="color: black;">
						<thead>
						
							<tr class="text-warning">
							
		                    	<th>Nome</th>
				            	<th>Tempo di preparazione</th>
				            	<th class="text-warning">Difficoltà</th>
				                <th class="text-warning">Commenti</th>
				                <th class="text-warning">Views</th>
				                <th class="text-warning">Data di pubblicazione</th>
				                <th class="text-warning">Categoria</th>
				                <th class="text-warning">Action</th>
				                
            				</tr>
            				
          			    </thead>

				        <tbody>
				        
				        	<tr th:each="t : ${ListMostViewed}">
				        	
				            	<td>
				            		<a class="text-warning" th:href="@{|/recipeDetails/${t.id}|}" th:text="${t.title}" ></a>
				            	</td>
				                <td th:text="${t.preparationTime} + minuti"></td>
				                <td th:if="${t.difficulty} == 1">Facile</td>
				                <td th:if="${t.difficulty} == 2">Medio</td>
				                <td th:if="${t.difficulty} == 3">Difficile</td>
				                <td th:text="${t.comments.size()}"></td>
				                <td th:text="${t.counterViews}"></td>
				                <td th:text="${t.publicationDate}"></td>
				                <td th:text="${t.category.name}"></td>
					            <td>
									<a class="btn btn-warning" th:href="@{|/edit/${t.id}|}" title="Edit">
	  									<i class="fa-solid fa-pen-to-square"></i>
	  								</a>
	  								<a class="btn btn-warning" th:href="@{|/image/${t.id}|}" title="Edit">
	  									<i class="fa-solid fa-images"></i>
	  								</a>
	  								<a class="btn btn-warning" th:href="@{|/delete/${t.id}|}" title="Delete" onclick="confirm('Are your sure?')">
						  				<i class="fa-solid fa-trash-can"></i>
						  			</a>
	  							</td>
	  							
							</tr>
							
						</tbody>
						
					</table>
					
      			</div>
      			
      			<div>
      			<hr>
      			<h3>Lista delle ricette più commentate</h3>
    			<hr>
			    <div th:if="${#lists.isEmpty(ListMostCommented)}">
			    
					<h5>Spiacenti, non è disponibile una lista di ricette</h5>
					
				</div>
				
      			<div th:unless="${#lists.isEmpty(ListMostCommented)}" style="color: aliceblue;">
      
					<table class="table mb-5 text-white" style="color: black;">
						<thead>
						
							<tr class="text-warning">
							
		                    	<th>Nome</th>
				            	<th>Tempo di preparazione</th>
				            	<th>Difficoltà</th>
				                <th>Commenti</th>
				                <th>Views</th>
				                <th>Data di pubblicazione</th>
				                <th>Categoria</th>
				                <th>Action</th>
				                
            				</tr>
            				
          			    </thead>

				        <tbody>
				        
				        	<tr th:each="t : ${ListMostCommented}">
				        	
				            	<td>
				            		<a class="text-warning" th:href="@{|/recipeDetails/${t.id}|}" th:text="${t.title}" ></a>
				            	</td>
				                <td th:text="${t.preparationTime} + minuti"></td>
				                <td th:if="${t.difficulty} == 1">Facile</td>
				                <td th:if="${t.difficulty} == 2">Medio</td>
				                <td th:if="${t.difficulty} == 3">Difficile</td>
				                <td th:text="${t.comments.size()}"></td>
				                <td th:text="${t.counterViews}"></td>
				                <td th:text="${t.publicationDate}"></td>
				                <td th:text="${t.category.name}"></td>
					            <td>
									<a class="btn btn-warning" th:href="@{|/edit/${t.id}|}" title="Edit">
	  									<i class="fa-solid fa-pen-to-square"></i>
	  								</a>
	  								<a class="btn btn-warning" th:href="@{|/image/${t.id}|}" title="Edit">
	  									<i class="fa-solid fa-images"></i>
	  								</a>
	  								<a class="btn btn-warning" th:href="@{|/delete/${t.id}|}" title="Delete" onclick="confirm('Are your sure?')">
						  				<i class="fa-solid fa-trash-can"></i>
						  			</a>
	  							</td>
	  							
							</tr>
							
						</tbody>
						
					</table>
					
      			</div>
      			
    		</div>
          	 	
		</main>
		
		<footer th:replace="fragments/footer :: footer"></footer>
	 	
  	</body>
  
</html>