<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<th:block th:replace="fragments/resources :: head-resources"></th>
		
		<title>Advanced Search</title>
		
	</head>
	
	
	<body>
	
		<header>
		
			<nav th:replace="fragments/navbar :: navbar('recipes')"></nav>
			
		</header>
    	
    	<main>
    	
			<div class="container">
					
			    <form action="/search">
			    	Titolo<input class="form-control" type="text" name="queryTitle">
			    	Description <input class="form-control" type="text" name="queryDescription">
			    	<!--Categorie <input class="form-control" type="text" name="category">-->
			    	
			    	
					<div class="col-3">
			        	<label class="form-label" for="categoria">Categoria</label>
			            <select
			           		name="categoryId"
			            	id="categoria"
			            	class="form-control"
			           		th:value="${categoryId}"
			          	>
			          	
				          	<option th:value="0" selected></option>
				            <option th:value="6">Antipasto</option>
				            <option th:value="7">Primo</option>
				            <option th:value="8">Secondo</option>
				            <option th:value="10">Contorno</option>
				            <option th:value="11">Dolce</option>
				            
			          </select>
			          
		           </div>
		           
			       <button>Search</button>
			    	
			    </form>
			    
			</div>
			
		</main>	 
    	
   </body>
	
</html>		