<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
  
	    <th:block th:replace="fragments/resources :: head-resources"></th>
	    
	    <title>Category</title>
    
  	</head>
  
  	<body>
  	
	  	<header>
	 	
	 		
	 	
	 		<nav th:replace="fragments/navbar :: navbar('recipes')"></nav>
	 	
	 	</header>
	 
	 <!--FORM PER AGGIUNGERE CATEGORIE-->
	  <form
	    	id="nuova-ricetta"
	    	th:object="${newCategory}"
	    	th:action="@{/category/add}"
	    	method=POST
	    	>
	    	
	    	<div class="mb-3">
	    	
					<label class ="form-label" for ="name">Categoria</label>
					<input type="text" id="name" class ="form-controll" th:field="*{name}">
					
			</div>
			
			<!--bottone per salvare nuova categoria-->		
			<button type="submit" class="btn btn-primary mt-3">Crea</button>
			
			<!--LISTA PER VISUALIZZARE CATEGORIE-->
			 <ul class="list-group" th:if="${categories.size() > 0}">
			<li class="list-group-item" th:each="c : ${categories}">
			  		<span th:text="${c.name}"></span>
			  	  	<a class="btn btn-primary" th:href="@{|/category/delete/${c.id}|}" title="Delete" onclick="confirm('Are your sure?')"><i class="fa-solid fa-trash-can"></i></a>

			</li>
		</ul>
	
	<footer th:replace="fragments/footer :: footer"></footer>
	    
  </body>
  
</html>