<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
  
	    <th:block th:replace="fragments/resources :: head-resources"></th>
	    
	    <title>Modifica la ricetta</title>
    
  	</head>
  
  	<body class="bg-dark text-warning">
  	
	  	<header>
	 	
	 		
	 	
	 		<nav th:replace="fragments/navbar :: navbar('recipes')"></nav>
	 	
	 	</header>
	 
	 <main class="container">
	 
 	<h2 class="text-warning ">Modifica la ricetta</h2>
 	<hr class="text-warning">
    	<!-- aggiungo form-->
    
	    <form
	    	id="nuova-ricetta"
	    	th:object="${NewRecipe}"
	    	th:action="@{/save}"
	    	method=POST
	    	>
	    	
	    	<input type="hidden" th:field="*{id}">
	    	
	 
	 	<div class ="row">
	 	
	 	
	 		<div class="col-4">
	 			<div class="mb-3">
	    	
					<label class ="form-label" for ="title">Titolo</label>
					<input type="text" id="title" class ="form-control" th:field="*{title}">
					
			</div>
					
			<div class="mb-3 d-inline">
			
				<label class ="form-label d-inline" for ="preparationTime">Tempo di preparazione</label>
				<input type="number" id="preparationTime" class ="form-controll col-sm-2" th:field="*{preparationTime}">
			
			</div>
					
			<div class="mb - 3 d-inline">
			<label class ="form-label d-inline" for ="difficulty">Difficoltà</label>
				<select id="difficulty" class="form-controll" th:field="*{difficulty}">
                	
                	<option th:value="1" selected>Facile</option>
                    <option th:value="2">Medio</option>
                    <option th:value="3">Difficile</option>
                    
                </select>
                            
			</div>
					
			<div class="mb - 3">
						
				<label class="form-label" for="description">Preparazione</label>
				<input type="text" id="description" class="form-control" th:field="*{description}">
				
					
			</div>
			
			<div class="mb - 3">
					<label class="form-label" for="publicationDate">Data di pubblicazione</label>
					<input type="date" id="description" class="form-control" th:field="*{publicationDate}">
			</div>
			
	 		</div>
	 		
	 		
	 		
	 		
	 		
	<div class="col-6 col-sm-6">		
	 <div class="container-fluid justify-content-center">
  		<div class="row">
  		
	 		<div class="col-4">Ingredienti<br><div class="form-check" th:each="ing : ${ingredientsList}">
					
					<input class="form-check-input" th:field="*{ingredients}" type="checkbox" th:id="|ingredient_${ing.id}|" th:value="${ing.id}">
					<label class="form-check-label" th:for="|ingredient_${ing.id}|" th:text="${ing.name}"></label>
					<label class="form-check-label" th:for="|ingredient_${ing.id}|" th:text="${ing.ingredientAmount}"></label>
							
			</div>
	 		</div>
			<div class="col-6">Categorie<br><div class="form-check" th:each="cat : ${categoryList}">
					
					<input class="form-check-input" th:field="*{category}" type="checkbox" th:id="|category_${cat.id}|" th:value="${cat.id}">
					<label class="form-check-label" th:for="|category_${cat.id}|" th:text="${cat.name}"></label>
							
			</div>
	 	</div>		
	 		
  		</div>
	 </div>
	</div>		
	 		
	</div>
	 	
	 
	 		
	 		
			<!--bottone per salvare nuova ricetta-->
			<div class="text-center">		
			<button type="submit" class="btn btn-darkrounded-3 border border-warning justify-center  text-warning mt-5">Salva modifiche</button>
			</div>
	    </form>
	 </main>
	    <!--fine form--> 
	    
	    <footer th:replace="fragments/footer :: footer"></footer>
    
  </body>
  
</html>