 <!doctype html>
 
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 
   <head>
   
   		<th:block th:replace="fragments/resources :: head-resources"></th>
    	<title>Ingredienti</title> 
     
   </head>

   <body class="bg-dark">
   			
 	<header>
 		
 			
 			
		 	<nav th:replace="fragments/navbar :: navbar('homePage')"></nav>
		 	
		 	
		 	
 	</header>	
 	
 	
   	<div class="container text-warning ">
   	
   		<h2> Aggiungi un nuovo ingrediente</h2>
   		<hr>
   		
   		<div class="col-6  ">	
   		
   		
			<!--creo form aggiungi ingredienti e poi devo aggiungere lista dove si vedranno gli ingredienti ggiunte-->
			<form 
				id="form-category"
				th:object="${newIngredient}"
				th:action="@{/ingredients/save}"
				method="POST">
			
					<div class="mb-3 has-validation">
						<div class="mb-3">
							<input th:field="*{name}" type"text" class="form-control" placeholder="Nome ingrediente" aria-label="Aggiungi ingrediente"
						 	aria-describedby="ingrediente-nutton" th:errorClass="is-invalid">
						</div> 	
						<div class="mb-3">
							<input th:field="*{ingredientAmount}" type"text" class="form-control" placeholder="Quantità ingrediente" aria-label="Aggiungi ingrediente"
						 	aria-describedby="ingrediente-nutton" th:errorClass="is-invalid">
						</div> 						
						<div class="mb-3">	
						
						 	<input type="checkbox"  id="isVegan" value="true" th:field="*{isVegan}"  />
						 	<label>Vegano</label>
						 	
						</div> 
						<div class="mb-3">	
						
						 	<input type="checkbox"  id="isVegetarian" value="true" th:field="*{isVegetarian}"  />
						 	<label>Vegetariano</label>
						 	
						</div> 
						 	<button class="btn btn-warning text-dark border border-warning" type="submit" id="ingredient-button">Salva</button>
						 
			
					 
						<!-- gestione errori-->	
					 	<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
					 
							<ul>
							
								<li th:each="err : ${#fields.errors('name')}" th:text="${err}">
							
							</ul>
						
						</div>	
					
					</div>

   			</form>
 		
 			<!-- alista ingr-->
		 	<ul class="list-group mt-3 border border-warning" th:if="${ingredients.size() > 0}">
		 	
				<li class="list-group-item bg-dark text-warning d-flex justify-content-between" th:each="i : ${ingredients}">
				
			  		<span th:text="${i.name}"></span>
			  		
			  		
	  					<a class="btn btn-warning text-dark" th:href="@{|/ingredients/delete/${i.id}|}" title="Delete" onclick="confirm('Are your sure?')"><i class="fa-solid fa-trash-can"></i></a>
				</li>
				
			</ul>
		
	  				</a>
			<div class ="alert alert-info my-5" th:unless="${ingredients.size() > 0}">
			
				<h3>Non ci sono ancora ingredienti</h3>
				
			</div>
	
  		</div>
  
	</div>	

   	<th:block th:fragment="risorse-scrips"></th:block>
   			
   	<footer th:replace="fragments/footer :: footer"></footer>		
   	
 </body>
  
</html>