<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
  
	    <th:block th:replace="fragments/resources :: head-resources"></th>

	    <title th:text="${recipeId}"></title>
    
  	</head>
  
  	<body class="bg-dark">
  	
  		<header>
	 		 	
	 		<nav th:replace="fragments/navbar :: navbar('recipes')"></nav>
		 	
	 	</header>

	 	<!--passo la ricetta-->
	 	<main>
	 	
		 	<div class="container pt-5 bg-dark ">
		 	<hr>
		 	
		        <h1 class="text-center mb-3 text-warning" th:text="${recipe.title}"></h1>
		        
		        <div class="card mb-3 border border-warning bg-dark">
		        
		        	<div class="row g-0 ">
		        	
		            	<div class="col-md-8">

		            	<img th:src="@{|/image/${recipe.id}/content|}" class="w-100" alt="">


		            	

	              		</div>
	              		
	              		<div class="col-md-4">
	              		
	                		<div class="card-body">
								
							<ul class="list-group list-group-flush ">	
							
	                 			<h5 class="card-title p-2 text-success bg-light" th:if="${recipe.isVegetarian}">Vegetariano</h5>
	                 			<h5 class="card-title p-2 text-success bg-light" th:if="${recipe.isVegan}">Vegano</h5>
		                            
		                        <li class="list-group-item bg-dark text-white">
		                            
		                            <h5 class="text-warning">Tempo di preparazione: </h5>
		                            <i class="fa-regular fa-clock"></i>
		                            <p class="d-inline" th:text="${recipe.preparationTime + ' minuti'}"></p>
		                            
		                        </li>
		                        <li class="list-group-item bg-dark text-white">   
				                
									<h5 class="text-warning">Difficoltà: </h5>
									<i class="fa-regular fa-star"></i>
					                <p class="d-inline" th:if="${recipe.difficulty} == 1">Facile</p>
				                	<p class="d-inline" th:if="${recipe.difficulty} == 2">Medio</p>
				                	<p class="d-inline" th:if="${recipe.difficulty} == 3">Difficile</p>
					                
		                        </li>
		                        <li class="list-group-item bg-dark text-white">  
		                        
					                <h5 class="text-warning">Categoria: </h5>
					                <i class="fa-solid fa-utensils"></i>
				                	<p class="d-inline" th:text="${recipe.category.name}"></p>
				                
		                        </li>
		                        <li class="list-group-item bg-dark text-white"> 
		                        	
		                        	<h5 class="text-warning">Ingredienti:</h5>
	                				<ul th:each="i : ${recipe.ingredients}">
	                			
	                					<li>
	                						<p th:text="${i.name} + ' ' + ${i.ingredientAmount}"></p>
	                					</li>
	                				
	                				</ul>
				               		
		                        </li>
	                 			<p class="card-text "><small class="text-white bg-dark ">Pubblicato il <span th:text="${recipe.publicationDate}"></span></small></p>
	                
							</ul>
	                			
	                		</div>
	                
	              		</div>
	              
	            	</div>
	            	
	        	</div>
	        
	        	<div class="text-center mt-2 mb-5 border border-warning">
	        
		            <h3 class="text-warning">Descrizione</h3>
		            <p class="text-white" th:text="${recipe.description}"></p>
	            
	        	</div>
	       	
			</div>  
	     
	    	 <!--sezione comment-->
	        <h3 class="text-center mb-3 text-warning">Sezione commenti</h3>
	        
		  	<!--creo form aggiungi COMMENTO e poi devo aggiungere lista dove si vedranno i commenti aggiunti-->
			<form 
				id="form-commenti"
				th:object="${newComment}"
				th:action="@{/comments/save/{id}(id=${recipe.id})}"method="POST">
				
				<div class="container border border-warning p-3">
				
					<div class="mb-3 text-warning">
			    	
							<label class ="form-label" for ="name">Name</label>
							<input type="text" id="name" class ="form-controll" th:field="*{name}">
													
					</div>
					
					<div class="mb-3 text-warning">
			    	
							<label class ="form-label" for ="name">email</label>
							<input type="text" id="email" class ="form-controll" th:field="*{email}">						
					</div>
					

					<div class="form-floating text-warning">
  						<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" th:field="*{comment}"></textarea>
  						<label for="floatingTextarea2">Commento</label>
  						
					</div>
				

						<!--bottone per salvare nuova ricetta-->		
						<button type="submit" class="btn btn-black text-warning border border-warning mt-3">Commenta</button>
						
					</form>
							
							
							<!--commenti-->
							
					<h2 class="mt-5 text-warning">Commenti</h2>
			     	
					<div class="card mb-4" th:each="c : ${recipe.comments}">
								<div class="card-header" th:text="${c.email}">
								
								</div>
								<div class="card-body">
									<blockquote class="blockquote mb-0">
										<p th:text="${c.comment}"></p>
										<footer class="blockquote-footer d-inline" th:text="${c.name}"></footer>
										<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary " th:href="@{|/comments/delete/${c.id}|}" title="Delete" onclick="confirm('Are your sure?')"><i class="fa-solid fa-trash-can"></i></a>
									</blockquote>
								</div>
							</div>
				
					<div class ="alert alert-info my-5" th:unless="${recipe.comments.size() > 0}">
							               
						<h3>Non ci sono ancora commenti</h3>
							
					</div>

				<!--<a class="btn btn-primary" th:href="@{|/comments/delete/${recipe.id}/${c.id}|}" title="Delete" onclick="confirm('Are your sure?')"><i class="fa-solid fa-trash-can"></i></a>-->

			</ul>
			
	 	</main>
	 	
		<footer th:replace="fragments/footer :: footer"></footer>
  	
  		<!--like-->
  		
  	</body>
  	
</html>