<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<th:block th:replace="fragments/resources :: head-resources"></th>
		
		<title>Recipes List</title>
		
	</head>
	
	<body>
	
		<header>
		
			<nav th:replace="fragments/navbar :: navbar('search')"></nav>
			
		</header>
		<div class="container-fluid">
			<form action="/search">
				Nome: <input class0"form-control" type="text" name="queryTitle">
				Descrizione: <input class0"form-control" type="text" name="queryDescription">
	
				<button>Search</button>
			</form>
		</div>
		
	</body>
	
</html>
					
			